{% extends "journal/base.html" %}
{% block content %}
<h1>My Journal</h1>
{% if entries %}
    {% for entry in entries %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h4><a class="article-title" href="{% url 'entry-details' entry.id %}">{{ entry.date_posted|date:"F j, Y" }}</a></h4>
                </div>
                <p class="article-content">{{ entry.content }}</p>
            </div>
        </article>
    {% endfor %}
{% else %}
    <h1>You don't have any entries yet!</h1>
{% endif %}
{% endblock content %}